<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
        }

        .container {
            display: flex;
            width: 100%;
            height: 100vh;
        }

        .lecture-list-panel {
            width: 60%;
            height: auto;
            overflow: scroll;
        }

        .register-lecture-panel {
            width: 40%;
            height: auto;
        }

        .input-row {
            margin-bottom: 5px;
        }

    </style>
</head>
<body>

    <div class="container">

        <div style="overflow: scroll">
            <h2>강의 목록</h2>
            <form action="/search" method="post">
                <input type="text" name="lectureToSearch" placeholder="전체 강의 조회시 검색어 없이 검색 버튼 클릭"></input>
                <button type="submit">검색</button>
            </form>
            <table border="1px">
                <th>강의명</th>
                <th>학수번호</th>
                <th>교수명</th>
                <th>강의시간</th>
                <tr th:each="lecture : ${searchedLectures}">
                    <td th:text="${lecture.lectureName()}"></td>
                    <td th:text="${lecture.lectureCode()}"></td>
                    <td th:text="${lecture.professorName()}"></td>
                    <td>
                        <div th:each="time : ${lecture.times()}" th:text="${time.day().getKoreanDay()} + ',' + ${time.start()} + '~' + ${time.end()} "></div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="register-lecture-panel">
            <form action="/receive" method="post">
                <h2>신청 강의</h2>
                <div id="form-container">
                    <div class="input-row">
                        <input type="text" name="lectures" placeholder="학수번호 입력">
                    </div>
                </div>
                <button onclick="createInput()" type="button">+ 추가</button>

                <h2>공강일 지정</h2>
                <div>
                    <input type="checkbox" name="days" value="월">월요일
                    <input type="checkbox" name="days" value="화">화요일
                    <input type="checkbox" name="days" value="수">수요일
                    <input type="checkbox" name="days" value="목">목요일
                    <input type="checkbox" name="days" value="금">금요일
                </div>

                <br><br>
                <button type="submit">시간표 만들기</button>
            </form>
        </div>

    </div>

</body>

<script>
    function createInput() {
        const container = document.getElementById("form-container");

        const newRow = document.createElement("div");
        newRow.className = "input-row";

        const newInput = document.createElement("input");
        newInput.type = "text";
        newInput.placeholder = "학수번호 입력";
        newInput.name = "lectures";

        newRow.appendChild(newInput);

        container.appendChild(newRow);
    }
</script>

</html>
